.stat-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 24px;
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.1);
  width: 180px;
  height: 120px;
  margin-right: 20px;
}

.stat-card-small {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 24px;
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.1);
  width: 115px;
  height: 120px;
  margin-right: 20px;
}

.stat-card-wide {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: center; */
  background-color: #ffffff;
  border-radius: 24px;
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.1);
  width: 340px;
  height: 120px;
  margin-right: 60px;
  margin-left: 5px;
  padding-left: 40px;
}

.stat-number-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stat-number-col .stat-number {
  margin: 0;
}

.stat-number-col .stat-label {
  margin: 0;
}

.date-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.date-col .stat-label {
  margin: 0;
}

.stat-number {
  font-size: 56px;
  font-weight: 700;
  color: #000000;
  line-height: 1;
  margin-bottom: 8px;
  margin-top: 20px;
}

.stat-label {
  font-size: 20px;
  color: var(--color-primary);
  margin-top: 4px;
  margin-left: 70px;
}

.pencil-icon {
  width: 45px;
  height: 45px;
  margin-right: 20px;
  position: relative;
  top: 4px;
}

.red-arrow-circle-icon {
  width: 45px;
  height: 45px;
  margin-right: 0px;
  position: relative;
  top: -10px;
}



/*Marcus 23.07.2026*/
.summary-1Line {
  display: flex;  
  align-items: center;
  margin-bottom: 16px;
  padding: 8px; 
}

/*Marcus 24.07.2026*/

.white-line {
  display: flex;
  margin-left: 40px;
  margin-right: 15px;
  height: 60px;
  margin-top: -20px;
}  


.date-txt {
  margin-top: -10px;
  display: flex;
  font-size: 18px;
  color: var(--color-primary);
  margin-left: 12px;
}


.date-condition {
  margin-top: 10px;
  display: flex;
  font-size: 14px;
  color: var(--color-primary);
  margin-left: 12px;
}

.second-line {
  display: flex;  
  flex-direction: row;
  align-items: center;
  margin-bottom: 16px;
  padding: 8px; 
}


.greetings {
  font-size: 24px;
}

.third-line-txt {
  margin-top: -8px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 14px;
  color: var(--color-primary);
}