
.help-heading-blue-line {
  display: flex;
  align-items: center;
  margin-left: 10px;
  }

.join {
  font-size: 61px;
}

.key {
  font-size: 27px;
}


.blue-line {
  margin-left: 35px;
  margin-right: 35px;
  height: 40px;
}  

.stat-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 24px;
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.1);
  width: 260px;
  height: 170px;
  margin-right: 30px;
}

.stat-card-small {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 24px;
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.1);
  width: 170px;
  height: 170px;
  margin-right: 20px;
}

.stat-card-wide {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: center; */
  background-color: #ffffff;
  border-radius: 24px;
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.1);
  width: 510px;
  height: 170px;
  margin-right: 60px;
  margin-left: 0;
  padding-left: 40px;
}

.stat-number-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stat-number-col .stat-number {
  margin: 0;
}

.stat-number-col .stat-label {
  margin: 0;
}

.date-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.date-col .stat-label {
  margin: 0;
}

.stat-number {
  font-size: 56px;
  font-weight: 700;
  color: #000000;
  line-height: 1;
  margin-bottom: 15px;
  margin-top: 20px;
}

.stat-label {
  font-size: 20px;
  color: var(--color-primary);
  margin-top: 4px;
  margin-left: 70px;
}

.pencil-icon {
  position: relative; 
  width: 70px;
  height: 70px;
  margin-right: 20px;
  top: 22px; 
  margin-left: -20px;
}

.red-arrow-circle-icon {
  width: 70px;
  height: 70px;
  margin-left: 20px;
  margin-right: 8px;
  position: relative;
  top: -6px;
}



/*Marcus 23.07.2026*/
.summary-1Line {
  display: flex;  
  align-items: center;
  margin-bottom: 16px;
  padding: 8px; 
}

/*Marcus 24.07.2026*/

.white-line {
  display: flex;
  margin-left: 50px;
  margin-right: 15px;
  height: 100px;
  margin-top: -20px;
}  


.date-txt {
  margin-top: -10px;
  display: flex;
  font-size: 18px;
  color: var(--color-primary);
  margin-left: 100px;
}


.date-condition {
  margin-top: 10px;
  display: flex;
  font-size: 14px;
  color: var(--color-primary);
  margin-left: 70px;
}

.second-line {
  display: flex;  
  flex-direction: row;
  align-items: center; 
  margin-bottom: 16px;
  padding: 8px; 
}


.greetings {
  font-size: 24px;
}

.third-line-txt {
  margin-top: -8px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 14px;
  color: var(--color-primary);
}


.page-summary {
  max-width: 1440px;
  margin: 0;
  padding: 80px 24px 24px 100px;
  margin-left: 200px;
}