<div class="contact-modal">
  <img src="assets/icons/close.svg" alt="Close" class="modal-close" onclick="closeAddContact()">

  <div class="contact-modal-left">
    <img src="assets/imgs/logoMain.png" alt="Join Logo" class="modal-logo">
    <h2 class="modal-title">Edit contact</h2>
    <span class="modal-underline"></span>
  </div>

  <div class="contact-modal-right">
    <div class="avatar avatar-xl" style="background-color: {{color}}">{{initials}}</div>
    <form class="modal-form" novalidate>
      <div class="input-field">
        <input class="input" type="text" id="editContactName" value="{{name}}" autocomplete="name">
        <span id="editContactNameError" class="field-error"></span>
      </div>
      <div class="input-field">
        <input class="input" type="email" id="editContactEmail" value="{{email}}" autocomplete="email">
        <span id="editContactEmailError" class="field-error"></span>
      </div>
      <div class="input-field">
        <input class="input" type="tel" id="editContactPhone" value="{{phone}}" inputmode="tel" autocomplete="tel">
        <span id="editContactPhoneError" class="field-error"></span>
      </div>
      <div class="add-contact-buttons">
        <button class="btn btn-secondary" type="button" onclick="deleteContact('{{id}}')">Delete</button>
        <button class="btn btn-primary" type="button" onclick="updateContact('{{id}}')">Save<img src="assets/icons/check.svg" alt="" class="btn-check"></button>
      </div>
    </form>
  </div>
</div>
