<div class="contact-modal">
  <img src="assets/icons/close.svg" alt="Close" class="modal-close" onclick="closeAddContact()">

  <div class="contact-modal-left">
    <img src="assets/imgs/logoMain.png" alt="Join Logo" class="modal-logo">
    <h2 class="modal-title">Edit contact</h2>
    <span class="modal-underline"></span>
  </div>

  <div class="contact-modal-right">
    <div class="contact-avatar modal-avatar" style="background-color: {{color}}">{{initials}}</div>
    <form class="modal-form" novalidate>
      <input class="input" type="text" id="editContactName" value="{{name}}">
      <input class="input" type="email" id="editContactEmail" value="{{email}}">
      <input class="input" type="tel" id="editContactPhone" value="{{phone}}">
      <div class="add-contact-buttons">
        <button class="btn btn-secondary" type="button" onclick="deleteContact('{{id}}')">Delete</button>
        <button class="btn btn-primary" type="button" onclick="updateContact('{{id}}')">Save</button>
      </div>
    </form>
  </div>
</div>
